.style-boxes {
  .style-box {
  	@include border-radius(5px);
    @include box-shadow(0px 1px 2px -1px rgba(30, 30, 30, 0.7));
    @include pie-ie();
	  position: relative;
    padding: 0;
    .box-logo {
	    @include text-shadow(1px 1px 1px #656565);
	    @include pie-ie();
	    position:relative;
        background-repeat: no-repeat;
        background-position: 10px 8px;
        color: $color-1;
        font-weight: bold;
	    padding: 10px 10px 10px 50px;
    }
  }
  .info {
    background: $color-5;
    border: 1px solid darken($color-5, 10%);
    border-top: 1px solid lighten($color-5, 10%);
    .box-logo {
      background-image: url(../img/icon_info.png);
    }
  }
  .warning {
    background: $color-17;
    border: 1px solid darken($color-17, 10%);
    border-top: 1px solid lighten($color-17, 10%);
    .box-logo {
      background-image: url(../img/icon_warning.png);
    }
  }
  .access {
    background: $color-18;
    border: 1px solid darken($color-18, 5%);
    border-top: 1px solid lighten($color-18, 5%);
    .box-logo {
      background-image: url(../img/icon_access.png);
    }
  }
  .help {
    background: $color-19;
    border: 1px solid darken($color-19, 10%);
    border-top: 1px solid lighten($color-19, 10%);
    .box-logo {
      background-image: url(../img/icon_help.png);
    }
  }
}