.short-info{
  @include clearfix();
  .block-with-icon{
  	@include clearfix();
    .for-img{
      float: left;
      width: 52px;
      margin-right: 18px;
    }
    .for-text{
      float: left;
      width: 380px;
    }
  }
}
.quotes{
	.flexslider{
	li{
		.quote-1{
      @include border-radius(5px);
      @include pie-ie();
      display:block;
			background-image:url(../img/bg-block.png);
			padding: 22px 27px 27px;
		}
		.autor{
			background:url(../img/quotes-corner.png) no-repeat 27px 0;
			font-style:italic;
			font-size:13px;
      padding:16px 0 0 52px;
			span {
				color: $color-5;
			}
		}
	}
  }
}
.block-list{
	ul{
		margin-top:-9px;
		li{

			border-top:1px solid $color-4;
			background-position: 0 14px;
      padding:7px 0 7px 12px;
       margin:0;
			&:first-child {
				border-top:none;
			}
		}
	}
}