//Footer at the bottom
html{
	width: 100%;
	height: 100%;
	body{
		@extend html;
		.container{
			@include clearfix();
			position:relative;
			min-height:100%;
		}   
		.footer_texture{
			position: relative;
			z-index: 1000;
			min-height: 322px;
			background:url('../img/footer-texture.png') repeat;
			margin: -322px auto 0;
			.inner{
				background:url('../img/inner.png') repeat-x top;
				footer{
					padding-top:5px;
					color: $footer-txt-color;
					p{
						color: $footer-txt-color;
					}
					h2 {
						padding-top: 23px;
						line-height: 1.3em;
						color: $footer-title;
						padding-bottom: 10px;
						a{
							color: $footer-title;
						}
						a:hover{
							color: $color-5;
						}
					}
					.widget-2{
						h2{ padding-bottom: 5px;}
						ul{
							li{
								background:none;
								display:block;
								list-style:none;
								border-top:1px solid $color-20;
								margin:0;
								padding-left:0px;
								a{	
									@include transition(background-position 0.2s, padding-left 0.2s, color 0.2s);
									display:block;
									background:url(../img/footer-marker.png) 0px 13px no-repeat; 
									color: $footer-txt-color;
									padding:6px 0 6px 12px;
									&.active, &:hover{
										color: $color-5;
										text-decoration: none;
										background-position: 8px 13px;
										padding-left: 20px;
									}
								}
								&:first-child{
									border-top:none;
								}
							}
						}
					}
					.widget-3{
						p{
							font-style:italic;
						}
					}
					.widget-4{
						textarea{
							height:50px;	
						}
						.btn{
							float:right;
							outline:none;
						}
					}
					.copyrights-box{
						@include clearfix();
						width: 100%;
						clear: both;
						.copyrights {
							width:260px;
							float:left;
							margin-bottom:5px;
							p{
								@include OpenSanslight(12px);
								line-height:18px;
								a{
									color: $footer-txt-color;
								}
							}
						}
						.foot-menu {
							width:438px;
							float:right;
							margin-bottom:15px;
							ul{
								margin:0;
								padding:0;
								li{
									float:left;
									background:none;
									list-style:none;
									margin:0 16px;
									padding:0;
									a{
										@include OpenSanslight(12px);
										color: $footer-txt-color;
										line-height:18px;
										&:hover{
											text-decoration:none;
											color: $color-5;
										}
									}
									&.last{
										margin-right:0px;
									}
								}
							}
						}
					}
					&.container{
						background:none;
					}
				}
			}
		}
		
	}
}