// ********************* Body styles
body{
  background: url(../img/bg.png);
  margin: 0;
  padding: 0;
  font-size: 1em; 
  line-height: 1.4;  
  color: $color_1;
  .container{
	   @include clearfix();
    .highlight{
      background:url(../img/bg_body.png) no-repeat top right;
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 50;
      width: 336px;
      height: 320px;
    }
    header, .content{
      position: relative;
      z-index: 200;
    }
  }
}

