@media (min-width: 1200px){
											 //home page
		.home-slider{
			width:1160px;
			.flex-viewport{
				.item{
					.home-slider-content{				
						top:270px;
					}
				}
			}
			.flex-control-nav{
				height:437px;
				a{
					height:87px;
				}
			}
		}
		.recent-projects, .blog-posts, .about-team{
			.sl-info{
				width:215px;
			}
			.flexslider{
				width:930px;
			}
		}
		.clients{
			.flexslider{
				width:1170px;
			}
		}

		.short-info {                        //services-page
			.block-with-icon{
				.for-text {
					float: left;
					width: 500px;
				}
			}
		}
		   	                                  //portfolio c4
		.portfolio{
			&.c-4{
				.portfolio-items{
					margin-left:-40px;
					.item{
						width: 260px;
						height: 146px;
						margin-bottom:41px;
						margin-left:41px;
						.item-description{
							width: 220px;
							height: 86px;
							padding: 30px 20px;
						}
					}
				}
			}
			&.c-3{
				.portfolio-items{
					margin-left:-50px;
					margin-bottom:-40px;
					.item{
						width: 356px;
						height: 203px;
						margin-bottom:50px;
						margin-left:50px;
						.item-description{
							width: 316px;
							height: 133px;
							padding: 40px 20px 30px;
						}
					}
				}
			}
			&.c-2{
				.portfolio-items{
					margin-left:-15px;
					margin-bottom:-40px;
					.item{
						width: 520px;
						height: 296px;
						margin-bottom:50px;
						margin-left:52px;
						.item-description{
							width: 460px;
							height: 206px;
							padding: 60px 30px 30px;
						}
					}
				}	
			}
		}
				                           // contact page
		.contact-form{
			.plenius-form{
			    .name{
			      width: 250px;
			    }
			    .email{
			      width: 250px;
			    }
			    .phone{
			      width: 250px;
			    }
			}
		}
}
@media (max-width: 979px) {
										 	//home page
	.home-slider{
		width:714px;
		.flex-viewport{
			.item{
				.home-slider-content{
					width:300px;
					top:130px;
					padding:20px 25px;
				}
			}
		}
		.flex-control-nav{
			height:269px;
			a{
				height:53px;
			}
		}
	}
	.recent-projects, .blog-posts, .about-team{
		.sl-info{
			width:240px;
		}
		.flexslider{
			width:450px;
		}
	}	
	footer {                                 //main layout
		.row-fluid {
			> [class*="span"] {
				width: 352px;
				margin-left: 20px;
				float: left;
			}

			> [class*="span"]:first-child {
				padding-top: 0px;
			}
			> [class*="widget-3"] {
				margin-left: 0px;
				padding-top: 0px;
			}
		}
	}
	.short-info{                             //services page
		.block-with-icon {
			.for-text{
				width:280px;
			}
		}
	}
											//portfolio c4
	.portfolio{
		&.c-4{
			.portfolio-items{
			 	margin-left:-40px;
				.item{
	
					margin-bottom:41px;
					margin-left:41px;
				}
			}
		}
		&.c-3{
			.portfolio-items{
			 margin-left:0px;
				.item{
					width: 320px;
					height: 182px;
					margin-bottom:30px;
					margin-left:30px;
					.item-description{
						width: 280px;
						height: 122px;
						padding: 30px 20px;
					}
				}
			}
		}
		&.c-2{
			.portfolio-items{
				margin-left:-24px;
				margin-bottom:-24px;
				.item{
					width: 350px;
					height: 200px;
					margin-bottom:24px;
					margin-left:24px;
					.item-description{
						width: 310px;
						height: 130px;
						padding: 40px 20px 30px;
					}
				}
			}	
		}
		&.c-1{
			.portfolio-items{
				.item{
					.item-image{
						margin-right:20px;

					}
				}
			}
		}
	}
											//blog
	.post-metadata{
		.tags{
			clear:both;
		}
	}
	.sidebar-left{
		.recent-posts{
				ul{
					li{
						.metadata{
							span{
									display:block;
									float:none;
								}
						}	
					}
				}
				
		}
	}
	
		                           			// contact page
	.contact-form{
		width: 352px;
		.plenius-form{
		    .name{
		      width: auto;
		      float: none;
		      margin-right: 0;
		    }
		    .email{
		      width: auto;
		      float: none;
		      margin-right: 0;
		    }
		    .phone{
		      width: auto;
		      float: none;
		      margin-right: 0;
		    }
		}
	}
}
@media (max-width: 767px) {

	.container {                           //main layout
		width: 440px;
		padding: 0px 20px;
	}
										 	//home page
	.home-slider{
		width:430px;
		.flex-viewport{
			.item{
				.home-slider-content{
					width:250px;
					top:70px;
					padding:10px 15px;
					p{
						font-size: 12px;
					}
				}
			}
		}
		.flex-control-nav{
			height:162px;
			a{
				height:32px;
			}
		}
	}
	.main-menu{
		@include float-right;
		width: 100%;
		top: auto;
		position: relative;
		padding-top: 0px;
		.first-level{
			margin-left: 0px;
			text-align:left;
			height:51px;
		}
		.first-level > li > a{
			padding:6px 12px 26px;
		}
		.first-level > li:first-child > a{
			padding-left:0px;
		}
		.second-level > li > a{
			margin: 0px;
		}
		.first-level > .first > .second-level{
			position: absolute;
			left: 0;
			margin-left:0px;
		}
	}
	.page-info{
		.page-name{
			font-size:55px;
			margin-bottom: 10px;
		}
	}
	.breadcrumbs{
		margin-top: 20px;
	}
	.recent-projects, .blog-posts, .about-team{
		.sl-info{
			width:200px;
		}
		.flexslider{
			width:210px;
			.slides{
				.item{
					margin: 0px;
				}	
			}		
		}
	}
	html{
		body{
			.footer_texture{
				.inner{
					footer{
						.span3{
							width: 440px;
							margin-left: 0px;
						}
					}
				}
			}	
		}
	}
	.buttons{                                //shortcodes page
		section{
			a{
				&.small{
					width: 75px;
					margin: 0	auto 5px;
				}
				&.long{
					width: 95px;
					margin: 0	auto 5px;
				}
				&.large{
					width: 70px;
					margin: 0	auto 5px;
				}				
			}
		}
	}
	.tabs{
		margin-bottom: 25px;
	}
	.tables{
		margin-bottom: 25px;
	}
	                                        // services page
	.short-info{
		.block-with-icon {
			.for-text{
				width:370px;
			}
		}
	}
	.quotes{
		padding-bottom: 30px;
	}
	.accordion{
		padding-bottom: 30px;
	}
	.resp-class-1{
		margin-bottom: 15px;
	}
											//portfolio c4
	.portfolio{
		.portfolio-navigation{
			float:none;	
			clear:both;
		}
		&.c-4{
			.portfolio-items{
			 	margin-left:-15px;
				.item{
	
					margin-bottom:15px;
					margin-left:15px;
				}
			}
		}
		&.c-3{
			.portfolio-items{
				margin-left:0px;
				margin-bottom:-30px;
				.item{
					width: 356px;
					height: 203px;
					float:none;
					display: block;
					margin:0 auto;
					margin-bottom:30px;
					.item-description{
						width: 316px;
						height: 143px;
						padding: 30px 20px;
					}
				}
			}
		}
		&.c-2{
			.portfolio-items{
				margin-left:-24px;
				margin-bottom:-24px;
				.item{
					width: 440px;
					height: 251px;
					margin-bottom:24px;
					margin-left:24px;
					.item-description{
						width: 400px;
						height: 171px;
						padding: 50px 20px 30px;
					}
				}
			}	
		}
		&.c-1{
			.portfolio-items{
				@include flexslider();
				.item{
					.item-image{
						width:100%;
						float:none;;
						margin-right:30px;
						margin-bottom: 15px;
						img{
							width: 100%;
						}
					}
					.item-description{
						overflow:hidden;
						h3{
							line-height: 1.3em;
						}
					}
				}
			}
		}
	}
													//404 page
	.description-temp{
		.button{
			display: block;
			width: 63px;
			margin:10px auto 0; 
		}
	}
		                           					// contact page
	.contact-form{
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.contact-information{
		overflow: hidden;
	}
	//                                     pricing-table page
	.price-table{
		.column{
			float:none;
			width:100%;
			
		}
		&.col-1, &.col-2, &.col-3, &.col-4, &.col-5{
			.column{
				width:100%;
				
			}
		}	
	}
											// blog
	.leave-comment{
		.field{
			textarea{
				width:426px;
				height:140px;
			}
		}
	}

}
@media (max-width: 479px) {

	.container {
		width: 300px;
		padding: 0px 10px;
	}
										 	//home page
	.home-slider{
		width:300px;
		.flex-viewport{
			.item{
				.home-slider-content{
					width:240px;
					top:44px;
					padding:8px 8px;
					p{
						font-size: 11px;
					}
				}
			}
		}
		.flex-control-nav{
			height:113px;
			a{
				height:22px;
			}
		}
	}
	.main-menu{
		@include float-right;
		width: 100%;
		position: relative;
		top: auto;
		margin: 0px 0px 10px;
		padding-top: 0px;
		.first-level{
			text-align:left;
			margin-left: 0;
			height:auto;
			li{
				float: none;
				background:none;
				border:0;
				padding:0;							
				a{
					margin: 0;
					padding: 0;
					line-height: 25px;
					
					&:hover{						
						border:0;
						padding: 0;
					};
				}
				.second-level{
					display: block;
					position:static;
					background:none;
					margin: 0;
					li{
						padding: 0;
						margin: 0;
						background:url('../img/list_1.png') 5px 11px no-repeat;
						padding:0 0 0 18px;
						a{
							border: 0;
						}
					}
				}
				&:hover{
					a{
						border:0;	
					}
				}
			}
		}
	}
	.page-info{
		.page-name{
			font-size:55px;
			margin-bottom: 10px;
		}
	}

	.breadcrumbs{
		float: left;
		margin-top: 20px;
	}
	.recent-projects, .blog-posts, .about-team{
		.sl-info{
			width:300px;
			float: none;
		}
		.flexslider{
			width:210px;
			float: left;
			margin-left: 45px;
			margin-top:30px;
			.slides{
				.item{
					margin: 0px;
				}	
			}		
		}
	}
	.clients{
		.flexslider{
			width:150px;
			margin-left:75px;
			.slides{
				li{
					margin:0px;
				}
			}
		}
	}
	html{
		body{
			.footer_texture{
				.inner{
					footer{
						.span3{
							width:300px;
						}
						.copyrights-box{
							.foot-menu{
								width:300px;
								ul{
									li{
										float:none;
										padding:0px;
										margin:0px;
									}
								}
							}
						}
					}
				}
			}	
		}
	}
	.buttons{                                  //shortcodes page
		section{
			a{
				display: block;
				&.small{
					width: 90px;
					margin: 0	auto 5px;
				}
				&.long{
					width: 130px;
					margin: 0	auto 5px;
				}
				&.large{
					width: 130px;
					margin: 0	auto 5px;
				}				
			}
		}
	}
	.tabs{
		margin-bottom: 25px;
		.tabs_wrapper{
			ul.tabs-nav{
				li{
					a{
						min-width:70px;
					}
				}
			}
		}
	}
	.tables{
		margin-bottom: 25px;
	}
												// services page
	.short-info{
		.block-with-icon {
			.for-text{
				width:230px;
			}
		}
	}
	.portfolio{
		.portfolio-navigation{
			float:none;
			clear:both;
		}
		.more{
			
		}
		&.c-3, &.c-2{
			.portfolio-items{
				margin-left:0px;
				margin-bottom:-30px;
				.item{
					width: 300px;
					height: 171px;
					margin-bottom:30px;
					margin-left:0px;
					float:none;
					display: block;
					.item-description{
						width: 260px;
						height: 111px;
						padding: 30px 20px;
					}
				}
			}
		}
	}
														//404 page
	.description-temp{
		.button{
			display: block;
			width: 63px;
			margin:10px auto 0; 
		}
	}
	.page-404{
		h1{
			font-size: 120px;
		}
		h2{
			font-size: 40px;
		}
	}
														//blog
	.sidebar-left{
		.recent-posts{
				ul{
					li{
						.metadata{
							span{
									display:block;
									@include float-right;
								}
						}	
					}
				}
				
		}
	}										
	.leave-comment{
		.field{
			textarea{
				width:286px;
				height:140px;
			}
		}
	}
}