// ********************* CCOLORS
$color-1:  #FFFFFF;         // White
$color-2:  #c6c6c6;         // link color
$color-3:  #989898;         // hover link color
$color-4:  #484d4f;         // 
$color-5:  #4386CF;         // blue color, like links
$color-6:  #474c4d;  
$color-7:  #F7F7F9;
$color-8:  #E1E1E8;
$color-9:  #F5F5F5;
$color-10: #CCC;   
$color-11: #eeeeee;
$color-12: #999;             // nuted color
$color-13: #c09853;          // text-warning
$color-14: #b94a48;          // text-error
$color-15: #3a87ad;          // text-info
$color-16: #468847;          // text-success
$color-17: #e13b3b;          // warning box
$color-18: #72a408;          // access box
$color-19: #ff9600;          // help box
$color-20: #4e4e4e;
$footer-txt-color: #747677;
$footer-title: #a9a9a9;
$border-table: #404446;
$form-background: #f6f6f6;
$form-border-color: #e1e1e1;
$form-border-bottom-color: #ececec;
$form-text-color: #b9b9b9;
$color-21: #484848;          //portfolio image bg
//light theme
$colorLight-1: #494949;
$colorLight-2: #626262;
$colorLight-3: #e3e3e3;
$colorLight-4: #5a5a5a;
$colorLight-5: #f0f0f0;

//div layoute table style (like pricing table)
//default div table color
$border-color: #4d5254;
$bg-color:     #2f3336;
$bg-title:     #484c4f;
$bg-price:     #373c3e;
$bg-confirm:   #373c3f;

//active column color
$act-title:    #4993e3;
$act-price:    #4386cf;
$act-confirm:  #4386cf;

@mixin pie-ie{
  behavior:url(js/PIE.htc);
}
// ********************* MAIN MIXINS

// Typography
// ********************* Font color
@mixin hex($hex: "#000"){
  color: $hex;
}
// ********************* Font color END

// ********************* Font family
@mixin OpenSans ($size:11px) { 
    font-size: $size;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
@mixin OpenSanslight ($size:11px) { 
    font-size: $size;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
@mixin OpenSansCond ($size:11px) { 
    font-size: $size;
    font-family: 'Open Sans Condensed', sans-serif;
}
@mixin Arial{
  font-family: Arial, sans-serif;
}
@mixin Monaco{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
// Typography END

// HELPERS
//gradient
@mixin gradient($color_1, $color_2){
  background:$color_1;
  background:-webkit-gradient(linear, 0 0, 0 100%, from($color_1) to($color_2));
  background:-webkit-linear-gradient($color_1, $color_2);
  background:-moz-linear-gradient($color_1, $color_2);
  background:-ms-linear-gradient($color_1, $color_2);
  background:linear-gradient($color_1, $color_2);
  background:-o-linear-gradient($color_1, $color_2);
  -pie-background:linear-gradient($color_1, $color_2);
}


// ****************************************
// Light Color Theme
// ****************************************


.white_bg_wrapper{
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  .empty{
    height: 322px;
    clear: both;
  }
}
.white_bg{
  //@include background(image-url("white_bg.jpg"));
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 291px;
  z-index: 100;
}
.home{
  .white_bg{
    top: 565px;
  }
}
.content .light_theme{
  color: $colorLight-2;
  ul li{
    background:url(../img/list_7-light.png)  no-repeat 0 6px;
  }
  .block-list ul li {
    background-position: 0 14px;
  }
  .accord {
    h5{ 
      span{
        background: url(../img/bg-toggle-plus-light.png) no-repeat 14px 15px;
      }
      &.current span{
        background: url(../img/bg-toggle-minus-light.png) no-repeat 14px 15px;
      }
    }
  }
  .price-table, .style-box p{
    color: $color-1;
  }
  .quotes{
    .flexslider{
      li{
        .quote-1{
          background-image:url(../img/bg-block-light.png);
        }
        .autor{
          background:url(../img/quotes-corner-light.png) no-repeat 27px 0;
        }
      }
    }
  }
  .accord h5, .accord h5.current, .accord .accordion-content, .tabs-content .tab-content{
    background-image:url(../img/bg-block-light.png);
  }
  table.plenius-table{
    background-image:url(../img/bg-block-light.png);
    td, th{
      border-left: 1px solid $colorLight-5;
      border-top: 1px solid $colorLight-5;
      color: $colorLight-2;
    }
  }
  .tabs-nav li a{
    background: $colorLight-5;
    color: $colorLight-2;
  }
  .tabs-nav li a:active, .tabs-nav li a.current, .tabs-nav li a :hover{
   background-image:url(../img/bg-block-light.png); 
  }
  .portfolio{
    .portfolio-navigation a{
      color: $colorLight-2;
    }
    .more{
      color: $colorLight-2;  
      background:url(../img/bottom-arrow-black.png) no-repeat 44px 28px;
    }
    &.c-1{
      .item-description{
        h3, p{
          color: $colorLight-2;
        }
      }
    }
  }
  p{
    color: $colorLight-2;
  }
  h1, h2, h3{
   color: $colorLight-1;
   a{
    color: $colorLight-1;
   }
  }
  .item-description{
    h1, h2, h3, p{
      color: $color-1;
    }
  }
  hr{
    border-bottom: 1px solid $colorLight-3;
    &.noline{
      border-bottom: 0px;
    }
  }
  .block-list ul li{
   border-top: 1px solid $colorLight-3; 
  }
  .btn{
    border: 1px solid $colorLight-4;
  }
  .post-metadata{
    border-bottom: 1px solid $colorLight-3; 
    a{
      color: $colorLight-2;
    }
  }
  .post{
    border-bottom: 1px solid $colorLight-3; 
  }
  .sidebar-left {
    .categories ul li, .archive ul li, .recent-posts ul li{
      border-top: 1px solid $colorLight-3; 
      a{
        color: $colorLight-1;
        background-image:url(../img/list_7-light.png);
      }
      &:first-child{
        border-top: none;
      }
    }
  }
  .sidebar-left .tag-cloud .tags li a, .page-navigation a{
    color: $colorLight-1;   
  }
}
.comments .comment .sidebar{
  background:url(../img/default-image-light.jpg) no-repeat;
}
//FORMS
.contact-form, .sidebar-left, .leave-comment{
  .plenius-form .field, .search-form .field {
    background: $form-background;
    @include box-shadow(inset 0 2px 3px $form-border-color);
    border:1px solid $form-border-color;
    border-bottom:1px solid $form-border-bottom-color;
  }
}