@mixin base-form($form-background, $form-border-color, $form-border-bottom-color, $form-text-color){
	@include clearfix();
	.field{
		@include border-radius(5px);
		@include box-shadow(inset 0 2px 3px $form-border-color);
		@include pie-ie();
		display:block;
		position:relative;
		background:$form-background;
		border:1px solid $form-border-color;
		border-bottom:1px solid $form-border-bottom-color;
		margin-bottom:10px;
		padding:5px 7px;
		input, textarea{
			@include OpenSanslight(11px);
			display:block;
			width:100%;
			background-color: transparent;
			border: 0px;
			outline:0;
			resize:none;
			color: $footer-txt-color;
			margin:0px;
			padding:0px;
			position: relative;
			@include box-shadow(0 0 0);
			&.required{
        color: $color-17
      }
      &.passed{
        color: $color-18
      }
		}
		textarea{
			line-height:17px;
			overflow-y:auto;
			min-height:20px;	
		}
	}
}
input, textarea{
  position: relative;
  &.required{
  	color: $color-17
  }
  &.passed{
    color: $color-18
  }
}
.plenius-form, .search-form{
	@include base-form($form-background, $form-border-color, $form-border-bottom-color, $form-text-color);
}
.search-form{
	position:relative;
	.field{
		padding:5px 30px 5px 7px;
	}

	.search-btn{
		background:url(../img/loop.png) no-repeat center center;
		border: none;
		width:23px;
		position:absolute;
		right:5px;
		top:4px;
	}
}
::-webkit-input-placeholder {
    color: $footer-txt-color;
    @include OpenSanslight(11px);
}
:-moz-placeholder {
    color: $footer-txt-color;
    @include OpenSanslight(11px);
}
.placeholder {
    color: $footer-txt-color;
    @include OpenSanslight(11px);
}
