@mixin social(){
	@include clearfix();
	.social-tooltip{
		@include transition(background 0.3s);
		@include float-left;
		display:block;
		height:25px;
		width:24px;
		margin-right:2px;
		text-indent:-1000px;
		text-decoration:none;
		background-repeat:no-repeat;
	}
	.tweeter{
		background-image:url(../img/tweeter.png);
		&:hover{
			background:url(../img/tweeter_h.png);
		}
	}
	.facebook{
		background-image:url(../img/facebook.png);
		&:hover{
			background:url(../img/facebook_h.png);
		}
	}
	.vimeo{
		background-image:url(../img/vimeo.png);
		&:hover{
			background:url(../img/vimeo_h.png);
		}
	}
	.linkedin{
		background-image:url(../img/linkedin.png);
		&:hover{
			background:url(../img/linkedin_h.png);
		}
	}
	.flickr{
		background-image:url(../img/flickr.png);
		&:hover{
			background:url(../img/flickr_h.png);
		}
	}
}
@mixin social-2(){
	@include clearfix();
	.social-tooltip{
		@include transition(background 0.3s);
		@include float-left;
		display:block;
		height:31px;
		width:31px;
		margin-right:3px;
		text-indent:-1000px;
		text-decoration:none;
		background-repeat:no-repeat;
	}
	.tweeter{
		background-image:url(../img/tweeter-2.png);
	}
	.facebook{
		background-image:url(../img/facebook-2.png);
	}
	.vimeo{
		background-image:url(../img/vimeo-2.png);
	}
	.google{
		background-image:url(../img/google-2.png);
	}
	.linkedin{
		background-image:url(../img/linkedin-2.png);
	}
}