//base layoute table style
@mixin base-table($border-table){
	width:100%;
	td, th{
		text-align:center;
		border-left:1px solid $border-table;
		border-top:1px solid $border-table;
		border-collapse:collapse;
		padding:11px 7px;
	}
	th {
		font-weight:bold;
		border-top:none;
	}
	tr{
		td:first-child, th:first-child {
			font-weight:bold;
			border-left: none;
		}
	}
}
table.plenius-table{
	@include OpenSanslight(11px);
	@include base-table($border-table);
	@include border-radius(5px);
	@include pie-ie();
	position:relative;
	background:url(../img/bg-block.png);
}

@mixin div-table(){
	@include OpenSanslight(11px);
	line-height:1.3em;
	border-bottom:1px solid $border-color;
	border-right:1px solid $border-color;
	margin: 40px 0;
	.column{
		float: left;
		width: 25%;
		position:relative;
		left:-1px;
		&:first-child{
			left:0px;
		}
		.td{
			width: 100%;
			position:relative;
			background: $bg-color;
			text-align: center;
			border-left:1px solid $border-color;
			border-top:1px solid $border-color;
			padding:13px 0;
			
		}
		.title{
			@include OpenSansCond(24px);
			line-height:1em;
			font-weight:300;
			background-color: $bg-title;
			border-top:none;
			padding:8px 0;
		}
		.price{
			@include OpenSansCond(28px);
			line-height:1em;
			font-weight:bold;
			background-color: $bg-price;
			border-top:none;
			padding:6px 0;
			small{
				font-size:16px;
				line-height:1em;
				font-weight:normal;
			}
		}
		.price+.td{
			border-top:none;
		}
		.confirm{
			background-color: $bg-price;
		}
		&.active{
			position:relative;
			z-index:100;
			.td{
				border-right:1px solid $border-color;
			}
			.title{
				background-color: $act-title;
				padding:16px 0;
				margin-top:-16px;
			}
			.price{
				background-color: $act-price;
			}
			.confirm{
				background-color: $bg-price;
				padding:25px 0;
				margin-bottom:-24px;		
				border-bottom:1px solid $border-color;		
				.btn{
					@include box-shadow(inset 0 1px 0 lighten(#4386CF, 10%), 0 2px 2px rgba(50, 50, 50, 0.05));
					background-image:none;
					background-color: #4386CF;
					&:hover{
						@include box-shadow(inset 0 1px 0 lighten(#4386CF, 10%), 0 2px 2px rgba(50, 50, 50, 0.05));
						background-image:none;
						background-color: lighten(#4386CF, 3%);
					}
					&.active, &:active{
					  	@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(50, 50, 50, 0.05));
					  	background-image: none;
					  	background-color:#4386CF;
					  	outline: 0;
					}
				}
			}
		}
	}
}
