h1,h2,h3,h4,h5,h6{
	@include OpenSans();
	padding: 0 0 20px 0;
	margin:0px;	
	line-height:1em;
	a{
		color: $color-1;
		&:hover{
			color: $color-5;
			text-decoration:none;
		}
	}
}
h1{
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 13px;
}
h5 {
	font-size: 11px;
}
a {
	@include transition(color 0.2s, text-decoration 0.2s);
	color: $color-5;
}
a:hover {
	color: $color-5;
	text-decoration:underline;
}
td{
  	@include OpenSanslight(11px);
  	line-height: 1.65em;
  	color: $color-1;
  	font-weight: 300;
}
p{
  	@include OpenSanslight(11px);
  	line-height: 1.65em;
  	margin-bottom: 15px;
  	color: $color-1;
  	font-weight: 300;
}
hr{
	border-top: 0;
	border-bottom: 1px solid $color-4;
	height: 0px;
	overflow: hidden;
	clear: both;
	padding: 30px 0 0;
	margin: 0 0 30px;
	&.line-25{
		padding: 25px 0 0;
		margin: 0 0 25px;
	}
	&.line-20{
		padding: 20px 0 0;
		margin: 0 0 20px;
	}
	&.line-15{
		padding: 15px 0 0;
		margin: 0 0 15px;
	}
	&.line-10{
		padding: 10px 0 0;
		margin: 0 0 10px;
	}
	&.line-5{
		padding: 5px 0 0;
		margin: 0 0 5px;
	}
	&.line-0{
		padding: 0;
		margin: 0;
	}
	&.noline{
		border-bottom: 0;
	}
	&.notop{
		padding-top: 0px;
	}
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px;
}
ol {
	list-style-type: decimal;
}

ul {
	@include OpenSanslight(11px);
	line-height: 18px;
	padding: 0px;
	margin: 0px;
	li{
		background:url(../img/list_7.png) no-repeat 0px 7px;
		list-style:none;
		padding-left: 12px;
		ul{
			list-style-type: circle;
		}
	}
	
}

blockquote{
	@include OpenSanslight(11px);
  	line-height: 18px;
	font-style:italic;
}

code{
	padding: 2px 4px;
	color: $color-6;
	background-color: $color-7;
	border: 1px solid $color-8;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size:12px;
	@include  border-radius(3px);
}
pre{
	display: block;
	padding: 10px;
	margin: 0 0 10px;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: $color-9;
	border: 1px solid $color-10;
	border: 1px solid rgba(0, 0, 0, 0.15);
	@include  border-radius(4px);
}

small{
	font-size:85%;
}
strong, b{
	font-weight: bold;
}
em, i{ 
	font-style: italic;
}
// 	**************** Lists elements styles	*******************


.unstyled	{
	list-style-type: none;
	margin-left: 0;
}

// 	**************** Lists elements styles	END ***************

// 	**************** Description elements styles	*************

dl{ 
	margin-bottom: 20px;
}
dt,dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 10px;
}
.dl-horizontal {
	*zoom: 1;
}

.dl-horizontal:before, .dl-horizontal:after {
	display: table;
	line-height: 0;
	content: "";
}

.dl-horizontal:after {
	clear: both;
}

.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 180px;
}
// 	**************** Description elements styles	END ************

.muted {
	@include  hex($color-12);
}
