.footer_texture.light_theme
	.inner
		%footer.container
			.row-fluid
				//widget 1 begin
				%article.widget-1.span3
					%h2 About Plenius
					%p English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes. on purpose (injected humour and the like).
					%section.social
						%a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
						%a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
						%a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
						%a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
						%a.flickr.social-tooltip{:href => "#", :title => "flickr"} Flickr
				// widget 1 begin
				// Interesting Links begin
				%article.widget-2.span3
					%h2 Interesting Links
					%ul
						%li
							%a{:href => "#"} Readable content of a page
						%li
							%a{:href => "#"} Looking at its layout is that
						%li
							%a{:href => "#"} It has a More-or-less normal
						%li
							%a{:href => "#"} Distribution of Letters
						%li
							%a{:href => "#"} Using content Content here
						%li
							%a{:href => "#"} Readable English
				// Interesting Links end
				// widget 3 begin
				%article.widget-3.span3
					%h2 Twitter Feed
					.twitter_widget
					%p.last
						Premium Web Templates and Themes for professionals business work with
						%a{:href => "#"} http://brong.lt/rIGkm67
					%hr.line-20/
					%p
						Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
						%a{:href => "#"} http://brong.lt/rIGkm67
				// widget 3 end
				// Contact form begin
				%article.widget-4.span3
					%h2 Contact Form
					%form.plenius-form.check_form{:action => "mail.php", :method=>"post"}
						.field
							%input.w_def_text.check{:name => "name", :title => "Your Name*", :type => "text", :value => "Name*", "data-placeholder" => "Name*"}
						.field
							%input.w_def_text.check.email{:name => "email", :title => "Your E-Mail*", :type => "text", :value => "E-mail*", "data-placeholder" => "E-mail*"}
						.field
							%textarea.w_def_text.check{:cols => "1", :name => "message", :rows => "1", :title => "Message", "data-placeholder" => "Message*"} Message*
						%input.btn{:type => "submit", :value => "Send"}/

				// Contact form begin
				%hr.line-20/
				%article.copyrights-box
					// Footer Menu begin
					%section.foot-menu
						%ul
							%li.first.active
								%a{:href => "#"} Home
							%li
								%a{:href => "#"} Futures
							%li
								%a{:href => "#"} Shortcodes
							%li
								%a{:href => "#"} Portfolio
							%li
								%a{:href => "#"} Blog
							%li.last
								%a{:href => "#"} Contacts
					// Footer Menu end
					// Copyrights begin
					%section.copyrights
						%p
							Copyright &copy; 2012
							= succeed "." do
								%a{:href => "#"} Plenius
							All rights reserved.
					// Copyrights end
