%header
	// Upper info berin here
	%article.contact-info
		%p.email info@pleniuscompany.com
		%p.phone
			%span Call Us:
			(123) 456 78 90
	// Upper info end here
	%hr.line-15.color-5/
	// Logo begin here
	%hgroup.summary
		%h1.template-name
			%a{:href => "#"} plenius
			%span.color-5 .
		%h2.template-description
			%a{:href => "#"} minimal PSD theme
	// Logo end here
	// Navigation begin here
	%nav.main-menu
		%ul.first-level
			%li.first.active
				%a{:href => "index.html"} Home
			%li
				%a{:href => "#"} Futures
				%ul.second-level
					%li
						%a{:href => "about.html"} About Us
					%li
						%a{:href => "services.html"} Services
					%li
						%a{:href => "pricing-tables.html"} Pricing Table
					%li
						%a{:href => "404.html"} 404 Page
			%li
				%a{:href => "shortcodes.html"} Shortcodes
			%li
				%a{:href => "portfolio.html"} Portfolio
				%ul.second-level
					%li
						%a{:href => "portfolio-2.html"} Portfolio 2
					%li
						%a{:href => "portfolio-3.html"} Portfolio 3
					%li
						%a{:href => "portfolio-4.html"} Portfolio 4
			%li
				%a{:href => "blog.html"} Blog
			%li.last
				%a{:href => "contact.html"} Contacts
	// Navigation end here

	%hr.line-0/
	// Page info begin here
	%hgroup.page-info
		-if data.page.page_name
			%h2.page-name
				=data.page.page_name
		-if data.page.page_description
			%h2.page-description
				=data.page.page_description
	// Page info end here
	-if data.page.page_breadcrumbs
		// Page location displayed here
		%article.breadcrumbs
			%p
				=data.page.page_breadcrumbs
		// Page location displayed here end

	%hr.line-25/
