@import "compass";
@import "compass/css3";
$form-background: #343434;
$form-border-color: #242729;
$form-border-bottom-color: #55595b;
$border-table: #424242;
//div layoute table style (like pricing table)
//default div table color
	$border-color: #515151;
	$bg-color:     #313131;
	$bg-title:     #4c4d4d;
	$bg-price:     #3e3e3e;
	$bg-confirm:   #3e3e3e;
// TABLE 
.price-table{
	border-bottom:1px solid $border-color;
	border-right:1px solid $border-color;
	.column{
		.td{
			background: $bg-color;
			border-left:1px solid $border-color;
		}
		.title{
			background-color: $bg-title;
		}
		.price{
			background-color: $bg-price;
		}
		.confirm{
			background-color: $bg-price;
		}
		&.active{
			.td{
				border-right:1px solid $border-color;
			}
			.confirm{
				background-color: $bg-price;		
				border-bottom:1px solid $border-color;		
			}
		}
	}
}
//END
body{
	background: url(../../img/bg_black.png);
}
body .container .highlight{
	background: url(../../img/bg_body_black.png);	
}
html body .footer_texture{
	background: url(../../img/footer-texture-black.png);
	.inner{
		background: url(../../img/inner-black.png) repeat-x;
	}			
}
.main-menu .second-level{
	background: #373737;
}
.main-menu .second-level > li > a{
	border-top: 1px solid #434343;
}
.plenius-form .field, .search-form .field {
  background: $form-background;
  @include box-shadow(inset 0 2px 3px $form-border-color);
  border:1px solid $form-border-color;
  border-bottom:1px solid $form-border-bottom-color;
}
footer{
  .plenius-form .field, .search-form .field {
    background: #343434;
    @include box-shadow(inset 0 2px 3px #242729);
		border:1px solid #242729;
		border-bottom:1px solid #55595b;
  }
}