---
page_name: '<a href="#">404 Page</a>'
page_description: '<a href="#">Page <span class="color-5">not</span> found</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">404 page</a>'
---
%hgroup.page-404
	%h1 404
	%h2 Page not found
%p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
%hr.line-25/
%p.description-404.last
	Plenius is
	%span easy customisable
	template for your perfect business
	%a.btn.long.blue{:href => "#"} Contact Us
%hr.line-25.noline/