---
page_name: '<a href="#">About Us</a>'
page_description: '<a href="#">Our company is <span class="color-5">number one</span> in web industry</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">About Us</a>'
---
/ block with text begin
%article.text
  %p
    %i It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less. normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  %p.last Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
/ block with text end
%hr/
/ block portfolio begin
%article.about-team
  %h2 Our Team
  %section.about-team-info.sl-info
    %p
      Normal distribution of letters, as opposed to using 'Content here, content here' making it look like readable English many desktop. publishing packages.
      and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    %p
      %a.btn{:href => "#"} More about team
  .flexslider
    %ul.slides
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_07.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_07.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_07.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_07.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_03.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_03.jpg"}
      %li
        .item
          .item-image
            %img{:alt => "", :src => "img/about_05.jpg"}/
          .overlay
          .item-description
            %h3 John Smith
            %p.member-description Position: Web Designer
            %p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
          %section.social
            %a.tweeter.social-tooltip{:href => "#", :title => "tweeter"} Twitter
            %a.facebook.social-tooltip{:href => "#", :title => "facebook"} Facebook
            %a.vimeo.social-tooltip{:href => "#", :title => "vimeo"} Vimeo
            %a.google.social-tooltip{:href => "#", :title => "google+"} Google+
            %a.linkedin.social-tooltip{:href => "#", :title => "linkedin"} LinkedIn
          %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/about_05.jpg"}
/ block portfolio end
%hr.line-25/
%p.description-404.last
  Plenius is
  %span easy customisable
  template for your perfect business
  %a.btn.long.blue{:href => "contact.html"} Contact Us
%hr.line-25.noline/
