---
page_name: '<a href="#">Blog</a>'
page_description: '<a href="#">Our <span class="color-5">interesting and useful</span> posts</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Blog</a>'
---
.row-fluid
  .content.span9
    / posts begin here
    %article.post
      %h2
        %a{:href => "#"} There are many variations of passages
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_03.jpg"}/
          .overlay
          %a.start-2.picture{"data-rel" => "prettyPhoto", :href => "img/blog_03.jpg"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} June 25, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 12
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
        %blockquote The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        %p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    / posts end here
    / comments begin here
    %article.comments
      %h2#comments
        %span 5
        %span Comments
      .comment
        .sidebar
        .body
          %p.name Arturio
          %p.date 01 March 2012, 8:10 pm
          .text
            %p
              His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed.
              in a nice, gilded frame.
          %p.reply
            %a{:href => "#"} Reply &raquo;
      .comment
        .sidebar
        .body
          %p.name San Marino
          %p.date 12 April 2012, 8:10 pm
          .text
            %p
              His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed.
              in a nice, gilded frame.
          %p.reply
            %a{:href => "#"} Reply &raquo;
        .comment
          .sidebar
          .body
            %p.name Andrew 	Donavan
            %p.date 25 May 2012, 8:10 pm
            .text
              %p
                His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed.
                in a nice, gilded frame.
            %p.reply
              %a{:href => "#"} Reply &raquo;
        .comment
          .sidebar
          .body
            %p.name John Smith
            %p.date 01 June 2012, 8:10 pm
            .text
              %p
                His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed.
                in a nice, gilded frame.
            %p.reply
              %a{:href => "#"} Reply &raquo;
          .comment
            .sidebar
            .body
              %p.name Joe Doe
              %p.date 10 July 2012, 8:10 pm
              .text
                %p
                  His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed.
                  in a nice, gilded frame.
              %p.reply
                %a{:href => "#"} Reply &raquo;
    / comments end here
    %hr.notop/
    / comments form begin
    %article.leave-comment
      %h2 Leave Comment
      %form.plenius-form{:action => "#"}
        .field
          %input.w_def_text.check{:name => "name", :title => "Your Name*", :type => "text", :value => "Name*", "data-placeholder" => "Name*"}
        .field
          %input.w_def_text.check{:name => "email", :title => "Your E-Mail*", :type => "text", :value => "E-mail*", "data-placeholder" => "E-mail*"}
        .field
          %textarea.w_def_text{:cols => "1", :name => "message", :rows => "1", :title => "Message", "data-placeholder" => "Message*"}Message*
        .clearfix
        %input.btn{:type => "submit", :value => "Submit"}/
    / comments form end
    %hr.line-25.noline/
  %aside.sidebar-left.span3
    %section.search
      %form.search-form{:action => "#"}
        .field
          %input.w_def_text.check{:name => "search", :title => "Your Name*", :type => "text", :value => "Search", "data-placeholder" => "Search"}
        %input.search-btn{:type => "submit", :value => ""}/
    / Categories begin
    %section.categories
      %h2
        %a{:href => "#"} Categories
      %ul
        %li
          %a{:href => "#"} Readable content of a page
        %li
          %a{:href => "#"} Looking at its layout is that
        %li
          %a{:href => "#"} It has a More-or-less normal
        %li
          %a{:href => "#"} Distribution of Letters
        %li
          %a{:href => "#"} Using content Content here
        %li
          %a{:href => "#"} Readable English
    / Categories end
    %hr/
    / Archive begin
    %section.archive
      %h2
        %a{:href => ""} Archive
      %ul
        %li
          %a{:href => "#"}
            February 2012
            %span 12
        %li
          %a{:href => "#"}
            March 2012
            %span 3
        %li
          %a{:href => "#"}
            April 2012
            %span 15
        %li
          %a{:href => "#"}
            May 2012
            %span 35
        %li
          %a{:href => "#"}
            June 2012
            %span 32
        %li
          %a{:href => "#"}
            July 2012
            %span 23
    / Archive end
    %hr/
    / Recent Posts begin
    %section.recent-posts
      %h2
        %a{:href => "#"} Recent Posts
      %ul
        %li
          .image
            %img{:alt => "", :src => "img/blog_01.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              03 April 2012
              %span 5 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_02.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              12 May 2012
              %span 17 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_04.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              23 June 2012
              %span 25 Comments
    / Recent Posts end
    %hr.notop/
    / Text Widget begin
    %section.text
      %h2
        %a{:href => "#"} Text Widget
      %p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    / Text Widget end
    %hr/
    / Latest projects begin
    %section.latest-projects
      %h2
        %a{:href => "#"} Latest Projects
      .flexslider
        %ul.slides
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
    / Latest projects end
    %hr/
    / Tag cloud begin
    %section.tag-cloud
      %h2
        %a{:href => "#"} Tags Cloud
      %ul.tags
        %li.w4
          %a{:href => ""} WEB
        %li.w1
          %a{:href => ""} Business
        %li.w3
          %a{:href => ""} Solutions APP
        %li.w4
          %a{:href => ""} Artureanec
        %li.w2
          %a{:href => ""} Theme Forest
        %li.w2
          %a{:href => ""} Development
        %li.w4
          %a{:href => ""} Flash  Ideas
        %li.w4
          %a{:href => ""} Word Press
        %li.w2
          %a{:href => ""} Themes
    / Tag cloud end
    
