---
page_name: '<a href="#">Blog</a>'
page_description: '<a href="#">Our <span class="color-5">interesting and useful</span> posts</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Blog</a>'
---
.row-fluid
  .content.span9
    / posts begin here
    %article.post
      %h2
        %a{:href => "blog-post.html"} There are many variations of passages
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_03.jpg"}/
          .overlay
          %a.start-2.picture{"data-rel" => "prettyPhoto", :href => "img/blog_03.jpg"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} June 25, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 12
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "blog-post.html"} Many desktop publishing packages
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_06.jpg"}/
          .overlay
          %a.start-2.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 12, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 43
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "blog-post.html"} Various versions have evolved over the years, sometimes by accident
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_08.jpg"}/
          .overlay
          %a.start-2.picture{"data-rel" => "prettyPhoto", :href => "img/blog_08.jpg"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 30, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 16
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    %article.post
      %h2
        %a{:href => "#"} Sydney College in Virginia, looked up one of the more obscure
      .entry
        .post-media
          .wrapper
            %img{:alt => "", :src => "img/blog_06.jpg"}/
          .overlay
          %a.start-2.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
        %p.post-metadata
          %span.date
            %b Posted:
            %a{:href => "#"} July 30, 2012
          %span.author
            %b Author:
            %a{:href => "#"} Artureanec
          %span.tags
            %b Tags:
            = succeed "," do
              %a{:href => "#"} Web Design
            = succeed "," do
              %a{:href => "#"} Development
            %a{:href => "#"} Internet
          %span.comments
            %a{:href => "#"}
              %b 16
              Comments
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        %p.more
          %a.btn{:href => "blog-post.html"} Read more
    / posts end here
    / page navigation here
    %section.page-navigation
      %p
        %a{:href => "#"} &lt;&nbsp;&nbsp;Previous
        %a.active{:href => "#"} 1
        %a{:href => "#"} 2
        %a{:href => "#"} 3
        %a{:href => "#"} 4
        %a{:href => "#"} 5
        %a{:href => "#"} Next&nbsp;&nbsp;&gt;
    / page navigation end
    %hr.line-25.noline/
  %aside.sidebar-left.span3
    %section.search
      %form.search-form{:action => "#"}
        .field
          %input.w_def_text.check{:name => "search", :title => "Your Name*", :type => "text", :value => "Search", "data-placeholder" => "Search"}/
        %input.search-btn{:type => "submit", :value => ""}/
    / Categories begin
    %section.categories
      %h2
        %a{:href => "#"} Categories
      %ul
        %li
          %a{:href => "#"} Readable content of a page
        %li
          %a{:href => "#"} Looking at its layout is that
        %li
          %a{:href => "#"} It has a More-or-less normal
        %li
          %a{:href => "#"} Distribution of Letters
        %li
          %a{:href => "#"} Using content Content here
        %li
          %a{:href => "#"} Readable English
    / Categories end
    %hr/
    / Archive begin
    %section.archive
      %h2
        %a{:href => ""} Archive
      %ul
        %li
          %a{:href => "#"}
            February 2012
            %span 12
        %li
          %a{:href => "#"}
            March 2012
            %span 3
        %li
          %a{:href => "#"}
            April 2012
            %span 15
        %li
          %a{:href => "#"}
            May 2012
            %span 35
        %li
          %a{:href => "#"}
            June 2012
            %span 32
        %li
          %a{:href => "#"}
            July 2012
            %span 23
    / Archive end
    %hr/
    / Recent Posts begin
    %section.recent-posts
      %h2
        %a{:href => "#"} Recent Posts
      %ul
        %li
          .image
            %img{:alt => "", :src => "img/blog_01.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              03 April 2012
              %span 5 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_02.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              12 May 2012
              %span 17 Comments
        %li
          .image
            %img{:alt => "", :src => "img/blog_04.jpg"}/
          .text
            %p.short Suffered alteration in some form, by injected humour.
            %p.metadata
              23 June 2012
              %span 25 Comments
    / Recent Posts end
    %hr.notop/
    / Text Widget begin
    %section.text
      %h2
        %a{:href => "#"} Text Widget
      %p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    / Text Widget end
    %hr/
    / Latest projects begin
    %section.latest-projects
      %h2
        %a{:href => "#"} Latest Projects
      .flexslider
        %ul.slides
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
          %li.item
            %a{:href => "#"}
              %img{:alt => "", :src => "img/blog_05.jpg"}/
    / Latest projects end
    %hr/
    / Tag cloud begin
    %section.tag-cloud
      %h2
        %a{:href => "#"} Tags Cloud
      %ul.tags
        %li.w4
          %a{:href => ""} WEB
        %li.w1
          %a{:href => ""} Business
        %li.w3
          %a{:href => ""} Solutions APP
        %li.w4
          %a{:href => ""} Artureanec
        %li.w2
          %a{:href => ""} Theme Forest
        %li.w2
          %a{:href => ""} Development
        %li.w4
          %a{:href => ""} Flash  Ideas
        %li.w4
          %a{:href => ""} Word Press
        %li.w2
          %a{:href => ""} Themes
    / Tag cloud end
    %hr.noline/
