---
page_name: '<a href="#">Contacts</a>'
page_description: '<a href="#">Our <span class="color-5">contact information</span> and location</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Contacts</a>'
---
%h2 Contrary to popular belief, Lorem Ipsum is not simply random text
%section.map
  %iframe{:frameborder => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=ru&geocode=&q=New+York,+United+States&aq=2&oq=new&sll=46.933064,32.007997&sspn=0.259289,0.676346&t=h&ie=UTF8&hq=&hnear=%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA&ll=40.714353,-74.005973&spn=0.575822,1.352692&z=10&output=embed", :style => "width: 100%; height: 100%"}

%p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
%hr.line-25/
%article.contact-form
  %h2 Contact Form
  %form.plenius-form.check_form{:action => "mail.php", :method=>"post"}
    .field.name
      %input.w_def_text.check{:name => "name", :title => "Your Name*", :type => "text", :value => "Name*", "data-placeholder" => "Name*"}
    .field.email
      %input.w_def_text.check.email{:name => "email", :title => "Your E-Mail*", :type => "text", :value => "E-mail*", "data-placeholder" => "E-mail*"}
    .field.phone
      %input.w_def_text.check{:name => "phone", :title => "Your Phone*", :type => "text", :value => "Phone*", "data-placeholder" => "Phone*"}
    .field.message
      %textarea.w_def_text.check{:cols => "1", :name => "message", :rows => "1", :title => "Message", "data-placeholder" => "Message*"}Message*
    %input.btn.send{:type => "submit", :value => "Send Message"}/
%article.contact-information
  %h2 Contact Information
  %address
  %p
    Some Street 5467, New York City, BH 90210, USA
    %br/
    5400 SInema Blvd. Las Vegas, NF 36709, USA
  %p
    Phone: (800) 123-567-890
    %br/
    Fax: (800) 098-765-4321
    %br/
    E-mail: info@pleniuscompany.com
  %p.last Additional information: Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
%hr.line-25.noline/
