---
page_name: false
page_description: '<a href="#">plenius. is a good clean and <span class="color-5">easy customasible</span> theme for web portfolio and virtual business</a>'
body_class: home
---
/ Main home slider begin
%article.home-slider
	.flexslider
		%ul.slides
			%li.item
				%img{:alt => "", :src => "img/home_banner.jpg"}/
				.home-slider-content
					%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
			%li.item
				%img{:alt => "", :src => "img/home_banner_1.jpg"}/
				.home-slider-content
					%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
			%li.item
				%img{:alt => "", :src => "img/home_banner_2.jpg"}/
				.home-slider-content
					%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
			%li.item
				%img{:alt => "", :src => "img/home_banner_3.jpg"}/
				.home-slider-content
					%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
			%li.item
				%img{:alt => "", :src => "img/home_banner.jpg"}/
				.home-slider-content
					%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...
/ Main home slider end
%hr/
/ Fresh news begin
%article.fresh-news.row-fluid
	%section.news.span4
		.for-img
			%img{:alt => "",  :class=>"color_img", :src => "img/blue/announcement.png"}/
		.for-text
			%h2
				%a{:href => "#"} Announcement
			%p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has
	%section.news.span4
		.for-img
			%img{:alt => "",  :class=>"color_img", :src => "img/blue/socialnetwork.png"}/
		.for-text
			%h2
				%a{:href => "#"} Social Networks
			%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
	%section.news.span4
		.for-img
			%img{:alt => "",  :class=>"color_img", :src => "img/blue/freshideas.png"}/
		.for-text
			%h2
				%a{:href => "#"} Fresh Ideas
			%p.last Publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will.
/ Fresh news end
%hr.notop/
/ Recent project information begin
%article.recent-projects
	%h2 Recent Projects
	%section.recent-projects-info.sl-info
		%p English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
		%p
			%a.btn{:href => "portfolio-3.html"} View more projects
	.flexslider
		%ul.slides
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_1.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.picture{"data-rel" => "prettyPhoto", :href => "img/home_pic_1.jpg"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_2.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_3.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.picture{"data-rel" => "prettyPhoto", :href => "img/home_pic_3.jpg"}
					
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_1.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.picture{"data-rel" => "prettyPhoto", :href => "img/home_pic_1.jpg"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_2.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_3.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_1.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
			%li
				.item
					.item-image
						%img{:alt => "", :src => "img/home_pic_2.jpg"}/
					.overlay
					.item-description
						%h3 Popular belief contrary
						%p.last Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English many desktop.
					%a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
/ Recent project information end
%hr/
%article.blog-posts
	%h2 Blog Posts
	%section.blog-posts-info.sl-info
		%p English many desktop. publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
		%p
			%a.btn{:href => "blog.html"} View more posts
	.flexslider
		%ul.slides
			%li
				.item
					%h3
						%a{:href => "#"} Contrary to popular belief
					%p.postmetadata
						%i 03 April 2012&nbsp;&nbsp;5 Comments
					%p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
			%li
				.item
					%h3
						%a{:href => "#"} Latin literature from 45 BC
					%p.postmetadata
						%i 12 may 2012&nbsp;&nbsp;8 Comments
					%p.last Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
			%li
				.item
					%h3
						%a{:href => "#"} Sydney College in Virginia
					%p.postmetadata
						%i 25 June 2012&nbsp;&nbsp;10 Comments
					%p.last Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
			%li
				.item
					%h3
						%a{:href => "#"} Contrary to popular belief
					%p.postmetadata
						%i 03 April 2012&nbsp;&nbsp;5 Comments
					%p.last There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
			%li
				.item
					%h3
						%a{:href => "#"} Latin literature from 45 BC
					%p.postmetadata
						%i 12 may 2012&nbsp;&nbsp;8 Comments
					%p.last Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
			%li
				.item
					%h3
						%a{:href => "#"} Sydney College in Virginia
					%p.postmetadata
						%i 25 June 2012&nbsp;&nbsp;10 Comments
					%p.last Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
%hr.notop/
/ Block clients logo begin here
.clients
	%h2 Our Clients
	.flexslider
		%ul.slides
			%li
				%img{:alt => "", :src => "img/client-1.png"}			 
			%li
				%img{:alt => "", :src => "img/client-2.png"}			 
			%li
				%img{:alt => "", :src => "img/client-3.png"}			 
			%li
				%img{:alt => "", :src => "img/client-4.png"}			 
			%li
				%img{:alt => "", :src => "img/client-5.png"}			 
			%li
				%img{:alt => "", :src => "img/client-6.png"}			 
			%li
				%img{:alt => "", :src => "img/client-3.png"}			 
			%li
				%img{:alt => "", :src => "img/client-2.png"}			 
			%li
				%img{:alt => "", :src => "img/client-1.png"}			 
			%li
				%img{:alt => "", :src => "img/client-4.png"}			 
			%li
				%img{:alt => "", :src => "img/client-6.png"}			 
			%li
				%img{:alt => "", :src => "img/client-5.png"} 
/ Block clients logo end here
%hr.line-25.noline/