<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ 
	[if gt IE 8]>
%html.no-js{:lang => "en"}
	/ <![endif]
	%head
		%meta{:charset => "UTF-8"}/
		%title=data.page.title
		%meta{:content => "", :name => "description"}/
		%meta{:content => "width=device-width", :name => "viewport"}/
		%link{:href => "css/bootstrap.css", :rel => "stylesheet"}
		%link{:href => "css/bootstrap-responsive.css", :rel => "stylesheet"}
		%link{:href => "css/prettyPhoto.css", :media => "screen", :rel => "stylesheet", :title => "prettyPhoto main stylesheet", :type => "text/css"}/
		
		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Open+Sans+Condensed:300,700,300italic", :rel => "stylesheet", :type => "text/css"}/
		
		// LAYOUT
		%link{:href => "css/style.css", :rel => "stylesheet", :class=>"layout_style"}/
		// COLORS
		%link{:href => "css/color_style/blue_items.css", :rel => "stylesheet", :class=>"colors_style"}/
		// TEXTURES
		%link{:href => "css/bg_style/blue_bg.css", :rel => "stylesheet", :class=>"bg_style"}/
		
		// SETTINGS
		%link{:href => "css/settings_style.css", :rel => "stylesheet"}/

		= javascript_include_tag 'libs/modernizr-2.5.3.min.js'
	%body{:class => data.page.body_class}
		.settings_box
			.settings_icon
			.layout
				.titles
					%div Light
					%div Dark
				.items
					=image_tag "settings/light.jpg", :class=>"settings light_layout"
					=image_tag "settings/dark.jpg", :class=>"settings dark_layout"
			.colors
				.titles
					%div Colors
				.items
					=image_tag "settings/turquoise.jpg", :class=>"settings turquoise_items"
					=image_tag "settings/yellow.jpg", :class=>"settings yellow_items"
					=image_tag "settings/red.jpg", :class=>"settings red_items"
					=image_tag "settings/green.jpg", :class=>"settings green_items"
					=image_tag "settings/blue.jpg", :class=>"settings blue_items"
			.textures
				.titles
					%div Textures
				.items
					=image_tag "settings/black_bg.jpg", :class=>"settings black_bg"
					=image_tag "settings/blue_bg.jpg", :class=>"settings blue_bg"
		.white_bg_wrapper
			.white_bg
			.container
				.highlight
				=partial "/parts/header"
				.content
					.light_theme
						=yield
			.empty
		=partial "/parts/footer"

		/ JavaScript at the bottom for fast page loading

		/ Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		%script{:src => "http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"}
	 
		:javascript 
			window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')

		= javascript_include_tag  "libs/jquery.tools.min.js", "libs/jquery.easing.1.3.js", "libs/jquery.animate.css.rotate.scale.js", "libs/jquery.css.transform.js", "libs/jquery.quicksand.js", "libs/jquery.flexslider-min.js", "libs/jquery.prettyPhoto.js", "main.js", "carousel.js", "filter.js", "libs/jquery.cookie.js", "settings.js"
	
		/ end scripts

		