---
page_name: '<a href="#">Portfolio</a>'
page_description: '<a href="#">Our <span class="color-5">best works</span> for 10 years experience</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Portfolio Single</a>'
---
/ block portfolio begin
%article.portfolio.c-1
  %h2 Web Development
  / Enumeration portfolio items begin
  %section.portfolio-items.flexslider
    %ul.item.slides
      %li
        .item-image
          %img{:alt => "", :src => "img/home_banner.jpg"}/
        .item-description
          %h3 Information
          %p
            Fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less.
            normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          %p.last
            %a.btn{:href => "#"} Visit website
      %li
        .item-image
          %img{:alt => "", :src => "img/home_banner.jpg"}/
        .item-description
          %h3 Information
          %p
            Fact that a reader will be distracted by the readable content of a page when looking at its layout is that it has a more-or-less.
            normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          %p.last
            %a.btn{:href => "#"} Visit website
    / Enumeration portfolio items end
/ block portfolio end
%hr.line-25.noline/
