---
page_name: '<a href="#">Portfolio</a>'
page_description: '<a href="#">Our <span class="color-5">best works</span> for 10 years experience</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Portfolio 4 Columns</a>'
---
/ block portfolio begin
%article.portfolio.c-4
  %h2 All works
  / Portfolio navigation block begin
  %section.portfolio-navigation.filter
    %p
      %a.active{"data-value" => "all", :href => "#"} All Works
      \/
      %a{"data-value" => "web", :href => "#"} Web Design
      \/
      %a{"data-value" => "entertainment", :href => "#"} Entertainment
      \/
      %a{"data-value" => "bis", :href => "#"} Business
      \/
      %a{"data-value" => "dev", :href => "#"} Development
  / Portfolio navigation block end
  / Enumeration portfolio items begin
  %section.portfolio-items
    #1.item.web
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_1.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_1.jpg"}
    #2.item.entertainment
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_2.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #3.item.web
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_3.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_3.jpg"}
    #4.item.entertainment
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_4.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #5.item.web
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_5.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_5.jpg"}
    #6.item.entertainment
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_6.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_6.jpg"}
    #7.item.bis
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_7.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #8.item.dev
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_8.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_8.jpg"}
    #9.item.bis
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_9.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #10.item.dev
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_1.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_212_1.jpg"}
    #11.item.bis
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_2.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #12.item.dev
      .item-image
        %img{:alt => "", :src => "img/portfolio_212_3.jpg"}/
      .overlay
      .item-description
        %h3 Popular belief contrary
        %p.last Normal distribution of letters, as opposed to using 'Content here
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
  %hr/
  %a.more{:href => "#"} More Works
  / Enumeration portfolio items end
/ block portfolio end
%hr.line-25.noline/