---
page_name: '<a href="#">Portfolio</a>'
page_description: '<a href="#">Our <span class="color-5">best works</span> for 10 years experience</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Portfolio 2 Columns</a>'
---
/ block portfolio begin
%article.portfolio.c-2
  %h2 All works
  / Portfolio navigation block begin
  %section.portfolio-navigation.filter
    %p
      %a.active{"data-value" => "all", :href => "#"} All Works
      \/
      %a{"data-value" => "web", :href => "#"} Web Design
      \/
      %a{"data-value" => "entertainment", :href => "#"} Entertainment
      \/
      %a{"data-value" => "bis", :href => "#"} Business
      \/
      %a{"data-value" => "dev", :href => "#"} Development
  / Portfolio navigation block end
  / Enumeration portfolio items begin
  %section.portfolio-items
    #1.item.web
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_1.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_450_1.jpg"}
    #2.item.web
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_2.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #3.item.bis
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_3.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_450_3.jpg"}
    #4.item.entertainment
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_4.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.video{"data-rel" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
    #5.item.dev
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_5.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_450_5.jpg"}
    #6.item.bis
      .item-image
        %img{:alt => "", :src => "img/portfolio_450_6.jpg"}/
      .overlay
      .item-description
        %h3 There are many variations of passages of Lorem Ipsum available
        %p.last Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      %a.start.picture{"data-rel" => "prettyPhoto", :href => "img/portfolio_450_6.jpg"}
  %hr/
  %a.more{:href => "#"}
    More Works
  / Enumeration portfolio items end

/ block portfolio end
%hr.line-25.noline/