---
page_name: '<a href="#">Pricing Tables</a>'
page_description: '<a href="#">Our <span class="color-5">prices</span> will surprise you very much</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Pricing Tables</a>'
---
%h2 Pricing Tables
%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
/ First pricing table begin
%article.price-table.col-4
  .column
    .td.title Basic
    .td.price Free
    .td Limited Edition
    .td Demo Version
    .td -
    .td 1 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Standart
    .td.price
      20$
      %small /month
    .td 10 Options
    .td Limited Version
    .td +
    .td 10 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column.active
    .td.title Advanced
    .td.price
      60$
      %small /month
    .td 50 Options
    .td Full Version
    .td +
    .td 25 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Premium
    .td.price
      200$
      %small /month
    .td 1000 Options
    .td Full Version
    .td +
    .td 100 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .clearfix
/ First pricing table end
%hr/
/ Second pricing table begin
%article.price-table.col-5
  .column
    .td.title Basic
    .td.price Free
    .td Limited Edition
    .td Demo Version
    .td -
    .td 1 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Standart
    .td.price
      20$
      %small /month
    .td 10 Options
    .td Limited Version
    .td +
    .td 10 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Advanced
    .td.price
      60$
      %small /month
    .td 50 Options
    .td Full Version
    .td +
    .td 25 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Plus
    .td.price
      120$
      %small /month
    .td 500 Options
    .td Full Version
    .td +
    .td 80 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .column
    .td.title Premium
    .td.price
      200$
      %small /month
    .td 1000 Options
    .td Full Version
    .td +
    .td 100 Gb Free Space
    .td.confirm
      %a.btn.long{:href => "#"} Sign up
  .clearfix
/ Second pricing table end
%hr.line-25.noline/
