---
page_name: '<a href="#">Shortcodes</a>'
page_description: '<a href="#">Different <span class="color-5">shortcodes</span> and elements</a>'
page_breadcrumbs: '<a href="#">Home</a> / <a href="#">Shortcodes</a>'
---
/ Buttons begin here
%article.buttons
  %h2 Buttons
  %section
    %a.btn.small.dark{:href => "#"}
      %span Small button
    %a.btn.small.blue{:href => "#"}
      %span Small button
    %a.btn.small.yellow{:href => "#"}
      %span Small button
    %a.btn.small.red{:href => "#"}
      %span Small button
    %a.btn.small.green{:href => "#"}
      %span Small button
    %a.btn.small.turquoise{:href => "#"}
      %span Small button
  %section
    %a.btn.long{:href => "#"}
      %span Long button
    %a.btn.long.blue{:href => "#"}
      %span Long button
    %a.btn.long.yellow{:href => "#"}
      %span Long button
    %a.btn.long.red{:href => "#"}
      %span Long button
    %a.btn.long.green{:href => "#"}
      %span Long button
    %a.btn.long.turquoise{:href => "#"}
      %span Long button
  %section.last
    %a.btn.large{:href => "#"}
      %span Big button
    %a.btn.large.blue{:href => "#"}
      %span Big button
    %a.btn.large.yellow{:href => "#"}
      %span Big button
    %a.btn.large.red{:href => "#"}
      %span Big button
    %a.btn.large.green{:href => "#"}
      %span Big button
    %a.btn.large.turquoise{:href => "#"}
      %span Big button
/ Buttons end here
%hr/
.row-fluid
  / Block with TABs begin here
  %article.tabs.span6
    %h2 Tabs
    .tabs_wrapper
      / tab links
      %ul.tabs-nav
        %li
          %a.current{:href => "#"} Item 1
        %li
          %a{:href => "#"} Item 2
        %li
          %a{:href => "#"} Item 3
      / tab links end
      / tab content
      %section.tabs-content
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        %section.tab-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
      / tab content end
  / Block with TABs end here
  / Block with TOGGLEs begin here
  %article.accordion.span6
    %h2 Accordion
    .accordion_wrapper
      %section.accord
        %h5.current
          %span The point of using Lorem Ipsum is that it has a more-or-less
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Many desktop publishing packages and web page editors
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        %h5
          %span Will be distracted by the readable content of a page when
        .accordion-content
          %p.last It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
  / Block with TOGGLEs end here
%hr/
.row-fluid
  / Tables begin
  %article.tables.span6
    %h2 Tables
    %table.plenius-table{:border => ""}
      %tr
        %th Item 1
        %th Item 1
        %th Item 1
        %th Item 1
        %th Item 1
      %tr
        %td Item 2
        %td Item 2
        %td Item 2
        %td Item 2
        %td Item 2
      %tr
        %td Item 3
        %td Item 3
        %td Item 3
        %td Item 3
        %td Item 3
      %tr
        %td Item 4
        %td Item 4
        %td Item 4
        %td Item 4
        %td Item 4
      %tr
        %td Item 5
        %td Item 5
        %td Item 5
        %td Item 5
        %td Item 5
  / Tables end
  / Example block with colored style
  %article.style-boxes.span6
    %h2 Styled Boxes
    %section.style-box.info
      .box-logo
        %p.last Information Styled Box
    %section.style-box.warning
      .box-logo
        %p.last Warning Styled Box
    %section.style-box.access
      .box-logo
        %p.last Access Styled Box
    %section.style-box.help.last
      .box-logo
        %p.last Help Styled Box
  / Example block with colored style end
%hr/
/ block lists begin here
%article.lists
  %h2 Lists
  .row-fluid
    %ul.list_1.span2
      %li Arrow List Item  1
      %li Arrow List Item  2
      %li Arrow List Item  3
      %li Arrow List Item  4
    %ul.list_2.span2
      %li Check List Item 1
      %li Check List Item 2
      %li Check List Item 3
      %li Check List Item 4
    %ul.list_3.span2
      %li Bullet List Item 1
      %li Bullet List Item 2
      %li Bullet List Item 3
      %li Bullet List Item 4
    %ul.list_4.span2
      %li Add List Item 1
      %li Add List Item 2
      %li Add List Item 3
      %li Add List Item 4
    %ul.list_5.span2
      %li Star List Item 1
      %li Star List Item 2
      %li Star List Item 3
      %li Star List Item 4
    %ul.list_6.span2
      %li Close List Item 1
      %li Close List Item 2
      %li Close List Item 3
      %li Close List Item 4
/ block lists begin here
%hr.line-25.noline/
